{{ form_start(form) }}
    {{ form_label(form.title)}}
    {{ form_widget(form.title)}}
    {{ form_errors(form.title)}}

     {{ form_label(form.text)}}
    {{ form_widget(form.text)}}
    {{ form_errors(form.text)}}
<ul id="documents-fields-list" class="documents"
    data-prototype="{{ form_widget(form.documents.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.documents|length }}">
    {% for document in form.documents %}
        <li>
            <label class="label_photo"  {% if document.vars.data != null %}style="background-image: url({{ path('document_download', { 'id': document.vars.data.id }) }})" data-url-init="{{ path('document_download', { 'id': document.vars.data.id }) }}"{% endif %}></label>
            {% if document.vars.data != null %}
                {{ form_widget(document, {'attr':{'class':'input_photo',  }}) }}
            {% else %}
                {{ form_widget(document, {'attr':{'class':'input_photo ',  }}) }}
            {% endif %}
            {% if document.vars.data.name != null %}
                {{ document.vars.data.name }}
            {% endif %}
            {{ form_errors(document) }}
        </li>
    {% endfor %}
</ul>


<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#documents-fields-list">Add document</button>


<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
