{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
    <h1>Note index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Documents</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.text }}</td>
                <td>
                    {% if note.documents|length > 0 %}
                        {% for doc in note.documents %}
                            <a href="{{ path('document_download', { 'id': doc.id }) }}">{{ doc.name }}</a>
                        {% endfor %}
                    {% else %}
                        empty
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('note_show', {'id': note.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('note_edit', {'id': note.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% for item in 1..((total/maxResult)|round(0, 'ceil')) %}
            <li class="{{ page == item ? 'active' : ''}} m-2">
                <a href="?page={{ item }}"> {{ item }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('note_new') }}">Create new</a>

{% endblock %}
