{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note</h1>

    {{ include('note/_form.html.twig') }}

    <a href="{{ path('note_index', {'page': 1}) }}" class="btn btn-secondary">back to list</a>
{% endblock %}
