{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h1>Note</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ note.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ note.title }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ note.text }}</td>
        </tr>
        <tr>
            <th>Documents</th>
            <td>
                {% if note.documents|length > 0 %}
                    {% for doc in note.documents %}
                        <a href="{{ path('document_download', { 'id': doc.id }) }}">{{ doc.name }}</a>
                    {% endfor %}
                {% else %}
                    empty
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('note_index', {'page': 1}) }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('note_edit', {'id': note.id}) }}" class="btn btn-primary">edit</a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}
